<a href="https://colab.research.google.com/github/thejussk1999/Facebook_Data/blob/master/Facebook_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Using the facebook_scraper library the get_posts function is imported. 
The git clone is used to import a user defined library created.

In [ ]:
from facebook_scraper import get_posts
!git clone 'https://github.com/knadh/ml2en.git'

In [316]:
x=get_posts('keralatv',pages=250)#Retrieve posts
import datetime
import calendar
mal_ratings={}
timings=[]
ratings=[]
for i in x:
  t1=i['time']#The timing for each rating published is taken
  t2=calendar.day_name[t1.weekday()]#Converting to a weekday
  b=re.findall('\d$',i['text'])#Find the rating
  if len(b)!=0 and b[0].isnumeric():
    timings.append(t1)
    tex=ml2en.ml2en.transliterate(i['text'])#Convert to english
    ratings.append(tex)

Converting to Data Frame

In [318]:
import pandas as pd
mal_ratings={'Time_Result':timings,'Ratings':ratings}
data=pd.DataFrame(mal_ratings)

           Time_Result                                            Ratings
0  2020-09-03 12:18:12  Utan panam mazhavillinte rettimgu kimgu ðŸ”¥\n\nt...
1  2020-09-03 12:13:29  Laalonam nallonam pradhaana sampreshanatthinu ...
2  2020-09-03 10:58:28  Eshyaanettu chithrangalute prakatanam\n\nðŸŒ¼taak...
3  2020-09-03 10:49:04  Eshyaanettu plasu paripaatikalute prakatanam\n...
4  2020-09-03 10:24:43  Mazhavil chithrangalute prakatanam\n\nðŸŒ¼etakkaa...
..                 ...                                                ...
65 2019-09-26 09:27:22  #flowers #trp - http://bit.Ly/2kdl5f3\n\naraya...
66 2019-09-26 09:24:15  #asianet #trp #serials http://bit.Ly/2kxxlgl\n...
67 2019-09-26 07:11:14  Mazhavil manorama rettimgu ðŸ‘‡\n\nmanjil virinja...
68 2019-09-19 09:51:34  Di grettu onam graantaa!!!\n\nkutumba preksha...
69 2019-09-12 07:24:48  Vanambadi 16.9\nneelakuil. 14.1\nseetha kalyan...

[70 rows x 2 columns]

Converting to csv format

In [324]:
data.to_csv(r'E:\Ratings.csv',index=False)